@media screen and (max-width: 1048px) {
    body {
        background-color: #C7DCF0;
    }
    
    .navbar {
        
        background-color: #0081F8;
        height: 50px;
        margin-bottom: 20px;
        display: flex;
        justify-content: end;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .rectangle{
        background-color: blue;
        height: 10px;
    }

    .rectangle.blanc{
        margin: 10px;
        border-radius: 8px;
        background-color: white;
        height: 200px;
    }
    .welcome {
        height: 180px;
    }
    .barre {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: end;
        
    }
    .title {
        text-decoration: none;
        color: black;
        font-size: 40px;
        text-align: center;
        font-family: 'Mogra', cursive;
    }
    .title2 {
        font-family: 'Mogra', cursive;
        margin-left: 10px
    }
    .button {
        background-color: #0081F8;
        height: 20px;
        width: 70px;
        border-radius: 5px;
        padding: 6px;
        color: white;
        font-family: 'Outfit', sans-serif;
        position: absolute;
        left: 20px;
        top: 220px;
        text-decoration: none;
    }
}

@media screen and (min-width: 1048px) {
    .navbar {
        font-family: 'Mogra', cursive;
        font-size: 20px;
        background-color: #0081F8;
        height: 70px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 10px;
    }
    .buttons {
        padding: 20px;
    }
    .navbar .title {
        text-decoration: none;
        color: black;
        font-size: 60px;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        
    }
    body {
        background-color: #C7DCF0;
    }
    .rectangle{
        background-color: blue;
        height: 10px;
    }

    .rectangle.blanc{
        margin: 120px;
        margin-top: 40px;
        border-radius: 8px;
        background-color: white;
        height: 500px;
    }
    .welcome {
        height: 500px;
    }
    .barre {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .title2 {
        font-family: 'Mogra', cursive;
        margin-left: 10px;
        font-size: 50px;
    }
    .button {
        margin-left: 10px;
    }
    .button {
        background-color: #0081F8;
        height: 41px;
        width: 140px;
        text-decoration: none;
        border-radius: 5px;
        padding: 6px;
        color: white;
        font-family: 'Outfit', sans-serif;
        position: absolute;
        left: 120px;
        top: 450px;
        font-size: 30px;
    }
}


